/* styles.css */

body {
  margin: 0;
  font-family: "Dancing Script", sans-serif;
}

.navbar {
  background-color: transparent;
  padding: 0.2vw 0; /* Adjust padding to make the navbar skinnier vertically */
  height: auto; /* Remove fixed height */
  width: 100%; /* Set navbar width to full width */
}

.container {
  width: 95%; /* Use percentage for container width */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%; /* Use percentage for padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw; /* Use viewport width for font size */
  padding-top: 2vw; /* Use viewport width for padding */
}

.nav-left {
  flex: 1;
}

.nav-right {
  flex: 1;
  margin-left: auto;
  text-align: right;
}

.nav-left ul,
.nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-center {
  flex: 1;
  text-align: center;
}

.logo {
  text-align: center; /* Center the logo */
}

.logo img {
  max-width: 50%; /* Adjust the percentage for maximum width */
  width: auto;
  height: auto;
  display: block; /* Ensure the image is centered */
  margin: 0 auto; /* Center the logo horizontally */
}

.nav-left li,
.nav-right li {
  display: inline-block;
  margin-left: 2vw; /* Adjust margin to make the navbar skinnier */
}

.nav-left li:first-child,
.nav-right li:first-child {
  margin-left: 0;
}

.nav-left li a,
.nav-right li a {
  color: inherit;
  text-decoration: none;
}

.nav-left li a:hover,
.nav-right li a:hover {
  color: #cbaf9d;
  ;
}
